@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}

body {
  font-family: 'Montserrat';
  color: #ffffff;
  background-color: #1c1d1d;
  overflow-x: hidden;
}

.container {
  max-width: 1172px;
  width: 96%;
  margin: 0 auto;
}

h2 {
  font-style: normal;
  font-weight: bold;
  line-height: 67px;
  font-size: 50px;
  color: #ffffff;
}

h3 {
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  font-size: 19px;
  color: #FFFFFF;
}

p {
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.7;
}

button {
  outline: none;
}

.btn {
  padding: 37px 22px 36px;
  width: 202px;
  height: 95px;
  background: linear-gradient(87.55deg, #E15154 -1.79%, #B11C1F 106.92%);
  -webkit-box-shadow: 0px 10px 50px #B11C1F;
          box-shadow: 0px 10px 50px #B11C1F;
  border: none;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:hover {
  background: linear-gradient(87.55deg, #D83135 -1.79%, #A60D10 106.92%);
}

.btn:active {
  background: linear-gradient(89.86deg, #AE1E21 -5.45%, #A60D10 107.05%);
}

.white_btn {
  padding: 23px 61px 24px 62px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1C1D1D;
  background-color: #ffffff;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.62);
          box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.62);
  color: #1C1D1D;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.white_btn:hover {
  background: linear-gradient(85.98deg, #E15154 -1.79%, #B11C1F 106.92%);
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.62);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.62);
}

.white_btn:active {
  background: linear-gradient(89.77deg, #AE1E21 -5.45%, #A60D10 107.05%);
}

.color_pink {
  color: #E15154;
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  h2 {
    font-size: 40px;
    line-height: 54px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 333px;
  }
  .btn {
    min-width: 100%;
    max-width: 333px;
  }
}

.header {
  margin: 0 auto;
  padding: 27px 134px 0px 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1440px;
  width: 100%;
}

.header_left {
  max-width: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_right {
  max-width: 888px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  list-style: none;
}

.header-item {
  margin-bottom: 43px;
}

.header-item :last-child {
  margin-bottom: 0;
}

.header-item a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 67px;
  font-size: 50px;
  color: #FFFFFF;
}

.header-item a:hover {
  color: #E15154;
}

.header-item a:active {
  color: #B11C1F;
}

.header .toggle-btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.header .toggle-btn span {
  display: block;
  width: 27px;
  height: 3px;
  background-color: #C4C4C4;
}

.header .toggle-btn span + span {
  margin-top: 10px;
}

.header-menu__hint {
  position: absolute;
  top: 103px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-phone__icon {
  margin-right: 11px;
  background: url("../icon/telephone-handle-silhouette.svg") no-repeat center;
  background-size: contain;
  display: block;
  width: 18px;
  height: 18px;
}

.header-phone__link a {
  display: block;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  color: #ffffff;
}

.header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-address__icon {
  margin-right: 11px;
  background: url("../icon/placeholder.svg") no-repeat center;
  background-size: contain;
  display: block;
  width: 15px;
  height: 19px;
}

.header-address__link a {
  display: block;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  color: #ffffff;
}

.header-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-email__icon {
  margin-right: 11px;
  background: url("../icon/little-envelope.svg") no-repeat center;
  background-size: contain;
  display: block;
  width: 18px;
  height: 15px;
}

.header-email__link a {
  display: block;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  color: #ffffff;
}

.header_fix {
  padding: 27px 134px 26px 54px;
  background-color: #1C1D1D;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-animation: headerFix 1s;
          animation: headerFix 1s;
}

@-webkit-keyframes headerFix {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 148px;
    opacity: 1;
  }
}

@keyframes headerFix {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 148px;
    opacity: 1;
  }
}

.header-mobile {
  margin-left: 0;
  padding: 100px 100px 0px 130px;
  position: fixed;
  top: 0;
  background: #1C1D1D;
  width: calc(100vw - 133px);
  z-index: 10;
  left: -100%;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}

.header-mobile_active {
  margin-left: 133px;
  left: 0;
}

.header-mobile__row {
  margin-bottom: 72px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-mobile__row .close {
  border: none;
  outline: none;
  background: url("../icon/close.svg") no-repeat center;
  background-size: contain;
  display: block;
  width: 21px;
  height: 21px;
}

.header-mobile .header-phone {
  display: none;
}

.header-mobile .header-address {
  display: none;
}

.header-mobile .header-email {
  display: none;
}

.header-mobile .btn {
  display: none;
}

.main-screen {
  padding-top: 165px;
  background: linear-gradient(166.42deg, #3D3F45 9.5%, #181818 92.14%);
  overflow-x: hidden;
}

.main-screen__title {
  margin-bottom: 23px;
  max-width: 533px;
  font-style: normal;
  font-weight: bold;
  line-height: 79px;
  font-size: 70px;
  color: #ffffff;
}

.main-screen__descr {
  margin-bottom: 43px;
  max-width: 490px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  font-size: 19px;
  color: #ffffff;
}

.main-screen__wrap {
  margin-bottom: -100px;
}

.main-screen_left {
  padding-left: 134px;
}

.main-screen_left .btn {
  margin-bottom: 40px;
  width: 446px;
}

.main-screen .slick-dots {
  list-style: none;
  bottom: -90px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-screen .slick-dots li {
  margin-right: 38px;
  width: 12px;
  height: 23px;
  border: 1px solid #4D4D4D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  position: relative;
}

.main-screen .slick-dots li::before {
  position: absolute;
  top: -30px;
  left: -5px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
  color: #4D4D4D;
}

.main-screen .slick-dots li:nth-child(1)::before {
  content: '01';
}

.main-screen .slick-dots li:nth-child(2)::before {
  content: '02';
}

.main-screen .slick-dots li:nth-child(3)::before {
  content: '03';
}

.main-screen .slick-dots li:nth-child(4)::before {
  content: '04';
}

.main-screen .slick-dots li:nth-child(5)::before {
  content: '05';
}

.main-screen .slick-dots .slick-active {
  background-color: #ffffff;
  height: 42px;
}

.main-screen .slick-dots .slick-active::before {
  display: none;
}

.main-screen .slick-arrow {
  top: 90%;
  right: 0;
  background-color: #1A1A1A;
  width: 70px;
  height: 56px;
}

.main-screen .slick-prev {
  background: #1A1A1A url("../icon/arrow-left.svg") no-repeat center;
  right: 70px;
  left: initial;
}

.main-screen .slick-next {
  background: #1A1A1A url("../icon/arrow-right.svg") no-repeat center;
}

.slider__img {
  position: absolute;
  top: 165px;
  right: 0;
  max-width: 719px;
  height: 529px;
}

.slider__text {
  width: 965px;
}

.slider-wrap {
  margin-top: 100px;
  padding-left: 134px;
  background: linear-gradient(81.51deg, #E15154 -1.79%, #B11C1F 106.92%);
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-wrap_left {
  margin-right: 39px;
  padding-left: 33px;
  padding-right: 219px;
  position: relative;
}

.slider-wrap_left::after {
  content: '';
  display: block;
  width: 176px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  right: 0;
}

.slider-wrap__name {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 1;
}

.slider-wrap__title {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  color: #FFFFFF;
  opacity: 1;
}

.slider-wrap__num {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 250px;
  color: #FFFFFF;
  opacity: 1;
}

.slider .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen__mouse {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-screen__mouse p {
  margin-right: 1px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 10px;
  color: #FFFFFF;
}

.main-screen__mouse span {
  background: url("../icon/mouse.svg") no-repeat center;
  background-size: contain;
  display: block;
  width: 22px;
  height: 37px;
}

.rules {
  padding: 82px 0 92px;
}

.rules-wrap {
  padding-left: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.rules-wrap::before {
  content: 'Топ 7';
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  line-height: 190px;
  font-size: 143px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.05;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.rules-wrap__img {
  margin-right: 104px;
  width: 378px;
  height: 416px;
  overflow: hidden;
}

.rules-wrap__img img {
  width: 100%;
  height: auto;
}

.rules-wrap__title {
  color: #E15154;
}

.rules-wrap__subtitle {
  margin-bottom: 17px;
  font-weight: bold;
  line-height: 48px;
  font-size: 30px;
  opacity: 1;
}

.rules-wrap__descr {
  max-width: 490px;
  min-height: 107px;
  line-height: 30px;
  font-size: 19px;
  opacity: 1;
}

.services__title {
  margin-bottom: 15px;
}

.services__subtitle {
  margin-bottom: 74px;
  font-size: 19px;
  line-height: 30px;
  opacity: 1;
}

.services-wrap {
  margin-left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services-wrap__inner {
  margin-bottom: 85px;
  margin-left: 24px;
  width: 33.3%;
  max-width: 333px;
}

.services-wrap__img {
  margin-bottom: 12px;
  width: 284px;
  height: 135px;
  overfow: hidden;
}

.services-wrap__img img {
  width: 100%;
  height: auto;
}

.services-wrap__title {
  margin-bottom: 16px;
  padding-left: 40px;
  max-width: 270px;
}

.services-wrap__text {
  padding-left: 40px;
  max-width: 345px;
}

.about {
  padding-bottom: 108px;
}

.about .container {
  position: relative;
}

.about .container::before {
  content: 'о нас';
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  line-height: 227px;
  font-size: 143px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.05;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 100px;
  left: -330px;
}

.about-row {
  margin-bottom: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__title {
  margin-right: 70px;
  width: 230px;
  font-size: 40px;
  line-height: 54px;
}

.about__subtitle {
  font-size: 19px;
  line-height: 30px;
  opacity: 1;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 262px;
}

.about-wrap .end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.work-wrap {
  padding-left: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.work-wrap::before {
  content: 'работа';
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  line-height: 360px;
  font-size: 143px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.05;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 92%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.work-wrap__img {
  width: 490px;
  height: 721px;
  overflow: hidden;
}

.work-wrap__img img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.65);
}

.work-wrap__text {
  margin-left: -12px;
  max-width: 575px;
  z-index: -1;
}

.work-wrap__title {
  margin-bottom: 15px;
}

.work-wrap__subtitle {
  margin-bottom: 56px;
  font-weight: 500;
  max-width: 509px;
}

.work-wrap__list {
  list-style: none;
}

.work-wrap__item {
  margin-bottom: 88px;
  padding-left: 65px;
  position: relative;
}

.work-wrap__item::before {
  content: '';
  display: block;
  width: 38px;
  height: 38px;
  background: url("../../icon/list.svg") no-repeat center;
  position: absolute;
  left: 0;
}

.work-wrap__item h3 {
  margin-bottom: 7px;
}

.cost {
  padding: 98px 0px 133px;
  background: url("../img/smeta-bg.jpg") no-repeat center;
  background-size: cover;
}

.cost-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cost-wrap_left {
  max-width: 575px;
  width: 100%;
}

.cost-wrap_left h2 {
  line-height: 121px;
  font-size: 90px;
}

.cost-wrap_right {
  max-width: 471px;
  width: 100%;
}

.cost-wrap_right p {
  line-height: 30px;
  font-size: 19px;
  opacity: 1;
}

.cost-wrap_right button {
  margin-top: 33px;
  width: 242px;
}

.portfolio {
  padding: 81px 0 138px;
}

.portfolio__title {
  margin-bottom: 15px;
}

.portfolio__subtitle {
  margin-bottom: 50px;
  max-width: 616px;
  font-weight: 500;
}

.portfolio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-wrap__inner {
  margin-bottom: 81px;
  width: 575px;
}

.portfolio-wrap .margin_small {
  margin-bottom: 56px;
}

.portfolio-wrap__img {
  margin-bottom: 36px;
  width: 100%;
  height: 336px;
  overflow: hidden;
}

.portfolio-wrap__img img {
  width: 100%;
  height: auto;
}

.portfolio .btn {
  width: 350px;
  height: 95px;
}

.instagram {
  padding-bottom: 52px;
}

.instagram__title {
  margin-bottom: 20px;
}

.instagram__subtitle {
  display: block;
  margin-bottom: 67px;
  padding-left: 51px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  font-size: 19px;
  color: #FFFFFF;
  position: relative;
}

.instagram__subtitle::before {
  content: '';
  background: url("../icon/instagram_white.svg") no-repeat center;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
}

.instagram-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instagram-wrap__img {
  width: 251px;
  height: 251px;
  overflow: hidden;
}

.instagram-wrap__img img {
  width: 100%;
  height: auto;
}

.deadline {
  padding-bottom: 108px;
}

.deadline__title {
  margin-bottom: 59px;
  max-width: 880px;
}

.deadline .btn {
  width: 350px;
  height: 95px;
}

.contacts {
  padding-bottom: 108px;
}

.contacts #map {
  margin-right: 63px;
  width: 523px;
  height: 368px;
}

.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-wrap__title {
  margin-bottom: 37px;
}

.contacts-wrap__list {
  list-style: none;
}

.contacts-wrap__item {
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-wrap__item .icon {
  margin-right: 26px;
}

.contacts-wrap__link a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.7;
  display: block;
}

.contacts-wrap__info {
  margin-left: 63px;
}

.footer {
  padding-bottom: 38px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrap__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrap__item {
  margin-right: 34px;
}

.footer-wrap__item:last-child {
  margin-right: 0;
}

.footer-wrap__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */